<%= link_to("Back to dashboard", "/admin/dashboard")%> <br/>
<h1> Administrator Management</h1>
<%= link_to("Create a new administrator", {:action => "new"})%>
<table summary="User List">
  <tr>
    <th class="p-2">#</th>
    <th class="p-2">Administrator name </th>
    <th class="p-2">Second secure password enabled?</th>
  </tr>
  <% @administrators.each do |administrator|%>
  <tr>
    <td class="p-2"><%= administrator.id%></td>
    <td class="p-2"><%= administrator.administratorname.upcase%></td>
    <td class="p-2"><%= administrator.second_password_enabled%></td>
    <td class="p-2"><%= link_to("Edit", edit_admin_administrator_path(administrator))%></td>
    <td class="p-2"><%= link_to("Delete", delete_admin_administrator_path(administrator)) %></td>
  </tr>
  <% end %>
</table>
