<% provide(:title, "New admin") %>
<h1>Create a new administrator</h1>
<%= link_to "Back to administrators index page", admin_administrators_path, class: "btn btn-primary"%>

<%= form_for @administrator, :url=> admin_administrators_path do |f|%>
  <div class="form-group">
    <%= f.label :administratorname%>
    <%= f.text_field :administratorname, {class: "form-control", placeholder: "Enter administrator name"} %>
  </div>
  <div class="form-group">
    <%= f.label :password%>
    <%= f.password_field :password, {class: "form-control", placeholder: "Enter password"} %>
    <%= f.label "password confirmation"%>
    <%= f.password_field :password_confirmation, {class: "form-control", placeholder: "Enter password confirmation"} %>
  </div>


  <div class="form-group">
    <%= f.label "Enable the second secure password"%>
    <%= f.radio_button :second_password_enabled, true%> Enable
    <%= f.radio_button :second_password_enabled, false, checked:'checked'%> Disable<br/>
  </div>

  <div class="form-group">
    <%= f.label "Setup the second secure password if enabled"%>
    <%= f.label "second password"%>
    <%= f.password_field :second_password , {class: "form-control", placeholder: "Enter second password"} %>
    <%= f.label "second password confirmation"%>
    <%= f.password_field :second_password_confirmation, {class: "form-control", placeholder: "Enter second password confirmation"} %>
  </div>

  <%= f.submit "Create new administrator", class: "btn btn-outline-success" %>
<%end%>
