<!DOCTYPE html>
<html>
  <head>
</head>
<div class="background"> 
<body>
<div class="loginform">
<div class="login">
<% provide(:title, "Login") %>

<img class="logo" src="/assets/logo.PNG" >
   <p><h1>Log in to your account</h1></p>
   <p><%= form_tag '/login' do %> </p>
    <p><%= label_tag :Username%></p>
    <p><%= text_field_tag :username %></p>
    <p><%= label_tag :"Password"%></p>
    <p><%= password_field_tag :password%></p>
    <p><input type="checkbox"><label> Remember me</label></p>
    <p><div class="loginbutton"><%= submit_tag "Login"%></p>


    <p><%= "Forgotten password?" %></p>

<%end%>
</div>
</div>
</div>
</body>
</html>