
<div class="row justify-content-center text-center sessionbackground" id="backgroundcoulour">
  <div class="col-sm-4">
    <div class="loginform2 mt-40 mb-40">
      <div class="login">
        <% provide(:title, "Login") %>
          <img src="<%= image_path("logo.PNG") %>"class="login-logo" >
          <h1>Log in to your account</h1>
          <%= form_tag "/login" do %> 
            <div class="form-group mt-40">
              <%= label_tag :Username %><br/>
              <%= text_field_tag :username %>
            </div>
            <div class="form-group mt-40">
              <%= label_tag :Password %> <br/>
              <%= password_field_tag :password %>
            </div>
            <div class="form-group mt-40">
            <label><input type="checkbox" class="m-1">Remember me</label>
            </div>
            <%= submit_tag "Login" %>
            <br/>
            <div class="form-group mt-40">
            <%= link_to "Forgotten password? " %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

