<div class="row justify-content-center text-center">
  <div class="col-sm-4">
    <div class="loginform2">
      <div class="login">
        <% provide(:title, "Login") %>
          <img class="login-logo" src="/assets/logo.PNG" >
          <h1>Log in to your account</h1>
          <%= form_tag '/login' do %> 
            <div class="form-group">
              <%= label_tag :Username%><br/>
              <%= text_field_tag :username%>
            </div>
            <div class="form-group">
              <%= label_tag :Password%> <br/>
              <%= password_field_tag :password%>
            </div>
            <div class="form-group">
            <label><input type="checkbox" class="m-1">Remember me</label>
            </div>
            <%= submit_tag "Login"%>
            <br/>
            <%= link_to "Forgotten password?" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
