<h1 style="color: <%= @color %>;">You have logged in as the Administrator: <%= @administrator.administratorname.upcase %></h1>
<%= link_to('User Management', admin_users_path) %> <br/>
<%= link_to('Bank Account Management' , admin_bank_accounts_path) %> <br/>
<%= link_to('Transaction Management' , admin_transactions_path) %> <br/>
<%= link_to('Administrator Management' , admin_administrators_path) %> <br/>
<%= link_to('Style Settings' , '') %> <br/>

<% if logged_in_as_administrator? %>
    <%= link_to "LOG OUT", "/admin/logout", method: :delete%>
<% end %>