<% provide(:title, "Welcome") %>

<div class="col-20 " >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= image_path("quail.jpg") %>" class="d-block w-100 background-image">
      <div class="carousel-caption d-none d-md-block ">
      <h1>Welcome to Quail Bank</h1>
      <h2>Make payments everywhere,<br>send your loved ones a gift this year with Quail Bank<br>
      We are here to help you</h2>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= image_path("quail2.jpg") %>" class="d-block w-100 background-image">
      <div class="carousel-caption d-none d-md-block">
        <h1>We offer one of the best services</h1>
      </div>
    </div>

    <div class="carousel-item">
      <img src="<%= image_path("quail3.jpg") %>" class="d-block w-100 background-image">
      <div class="carousel-caption d-none d-md-block">
        <h1>Join our bank for more opportunities</h1>
      </div>
    </div>

    <a class="carousel-control-prev carouselbuttons carousel-button-size" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next carouselbuttons carousel-button-size" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>


  




<% if !logged_in? %>
  <div class="loginform text-center">
    <div class="login">
        <h4>LOGIN TO YOUR ACCOUNT</h4>
        <br>
        <div class="form-group">
          <%= link_to "USER ", { :controller => "sessions", :action => "login" }, class: "btn btn-primary buttonsize" %>
          </div>
          <div class="form-group ">
          <%= link_to "ADMIN", { :controller => "admin/sessions", :action => "new" }, class: "btn btn-primary buttonsize" %>
          </div>
        </div>
      </div>
  </div>
<% end %>


<div class="row justify-content-center text-center">
<div class="information">
<img src="<%= image_path("shakinghands.jpg") %>" class="image">
<div class="text font-weight-light">
<h2>The bank for your needs</h2><br>
<h3>We offer one of the best services and customer service around the globe</h3>
<h3>Do you have family and friends overseas and need to send them money?  <br>
Whatever the reason, our services are fast, efficient and secure <br>
We have different kind of bank accounts.
Are you saving money for a new house?<br>
Use our saving account without nay fees and 2% annual interest</h3>
</div>
</div>

<div class="information">
<div class="text font-weight-light">
<h2>Join us</h2><br>
<h3>Our rates allows to a high return when you invest with us</h3>
<h3>If you want to invest with us we offer high return when investing in stocks <br>
Whatever the reason, our services are fast, efficient and secure </h3>
</div>
<img src="<%= image_path("invest.jpg") %>" class="image">
</div>


<div class="information mb-40">
<img src="<%= image_path("savings.jpg") %>" class="image">
<div class="text font-weight-light">
<h2>The best bank for your business</h3><br>
<h3>Do you need a loan for your new projects<p>
<h3>We offer loans up to 100.000$ with an annual interest of only 0.2% <br>
Learn more about our fees. </h3>
</div>

</div>

