<% provide(:title, "Dashboard") %>

<div class="container">

   <div class="row">

       <div class="col-2">Account ID</div>
       <div class="col-2">Currency</div>
       <div class="col-2">Account Type</div>
       <div class="col-2">Balance</div>

   </div>
   <% @bankAccounts.each do |acc|%>
    <div class="row">
        <div class="col-2"><%= acc.id%></div>
        <div class="col-2"><%= acc.currency%></div>
        <div class="col-2"><%= acc.type_of_account%></div>
        <div class="col-2"><%= acc.amount%></div>
        <div class="col-2"><%= link_to "Show", bank_account_path(acc), class:"btn btn-primary"%></div>
    </div>
    <% end%>
</div>
