<% provide(:title, "Dashboard") %>
<div>
<h1 class="mb-3">Bank Accounts:</h1>
<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Group by Balance
</div>
<div class="card-body">
<%= pie_chart BankAccount.where(:user_id => @user.id).group(:account_id).sum(:amount) %>
</div>
</div>
</div>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Group by Currency
</div>
<div class="card-body">
<%= pie_chart BankAccount.where(:user_id => @user.id).group(:currency).count %>
</div>

</div>
</div>
<table class="table">

   <tr>
    <th>View</th>
       <th>Account ID</th>
       <th>Currency</th>
       <th>Account Type</th>
       <th>Balance</th>
   </tr>
   <% @bankAccounts.each do |acc|%>
   <tr>
        <td><%= link_to  @bankAccounts.find_index(acc)+1, bank_account_path(acc)%></td>
        <td><%= acc.id%></td>
        <td><%= acc.currency%></td>
        <td><%= acc.type_of_account%></td>
        <td><%= acc.amount%></td>
        </tr>


    <% end%>

</table>
</div>
