<% provide(:title, "Dashboard") %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">No. ID</th>
      <th scope="col">Account ID</th>
      <th scope="col">Currency</th>
      <th scope="col">Account Type</th>
      <th scope="col">Balance</th>
    </tr>
    </thead>
    <tbody>
    <% @bankAccounts.each do |acc|%>
    <tr>
      <th scope="row"><%= link_to  @bankAccounts.find_index(acc)+1, bank_account_path(acc)%></th>
      <td><%= acc.id%></td>
      <td><%= acc.currency%></td>
      <td><%= acc.type_of_account%></td>
      <td><%= acc.amount%></td>
    </tr>
    <% end%>
    </tbody>
</table>
