<!DOCTYPE html>
<html>
  <head>
</head>

<body>




<div class="main">

<% provide(:title, "Dashboard") %>

<table class="table">

   <tr>

       <th>Account ID</th>
       <th>Currency</th>
       <th>Account Type</th>
       <th>Balance</th>

   </tr>
   <% @bankAccounts.each do |acc|%>
    <div class="row">
        <td><%= acc.id%></td>
        <td><%= acc.currency%></td>
        <td><%= acc.type_of_account%></td>
        <td><%= acc.amount%></td>
    </div>
    <button><%= link_to "SHOW BANK ACCOUNT", bank_account_path(acc), class:"btn btn-primary"%></button>
    <% end%>

</table>

</div>


</body>
</html>
