<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "l_page" %>
</head>

<body>




<div class="main">

<% provide(:title, "Dashboard") %>
          
<div class="container">

   <% @bankAccounts.each do |acc|%>
    <div class="row">
        <div class="col-2"><%= acc.id%></div>
        <div class="col-2"><%= acc.currency%></div>
        <div class="col-2"><%= acc.type_of_account%></div>
        <div class="col-2"><%= acc.amount%></div>
    </div>
    <button><%= link_to "Show", bank_account_path(acc), class:"btn btn-primary"%></button>
    <% end%>

</div>

</div>


</body>
</html>