<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "l_page" %>
</head>

<body>


<div class="main">
<% provide(:title, @bankAccount.type_of_account) %>


<!-- For test --> 
<!-- end--> 

<div class="account">
<h1 class="mb-3">Your Account</h1>
<table class="table"> 
    <tr>
        <th> Account id</th>
        <th> Currency</th>
        <th> Type of Account</th>
        <th> Amount</th>
    </tr>
    <tr>
        <td> <%= @bankAccount.id%></td>
        <td> <%= @bankAccount.currency%></td>
        <td> <%= @bankAccount.type_of_account%></td>
        <td> <%= @bankAccount.amount%></td>
    </tr>
</table>


<div class="transactions">

    <button><%= link_to "New transaction", new_transaction_path, class: "btn btn-primary" %></button>

    <button><%= link_to "Transaction History", transactions_path, class: "btn btn-primary"%></button>
    </button>

</div>


<div class="recenttransaction">
<h2>Recent transactions: </h2>
<table class="table"> 
    <tr>
        <th class="p-1"> Date</th>
        <th> Currency</th>
        <th> Amount</th>
        <th> Recipient name</th>
        <th> Recipient</th>
        <th> Reference</th>
        <th> Bank account id</th>
    </tr>
    <% @transactions.each do |transaction|%>
    <tr>
        <td> <%= transaction.date%></td>
        <td> <%= transaction.currency%></td>
        <td> <%= transaction.amount%></td>
        <td> <%= transaction.recipient_name%></td>
        <td> <%= transaction.recipient%></td>
        <td> <%= transaction.reference%></td>
        <td> <%= transaction.bank_account_id%></td>
        <td> <%= link_to "Show transaction", transaction_path(transaction.id), class: "btn btn-primary"%></td>
    </tr>
    <%end%>
</table>
</div>



</div>

</body>
</html>