<% provide(:title, @bankAccount.type_of_account) %>


<!-- For test --> 
<!-- end--> 

<div class="account">
<h1 class="mb-3">Your Account</h1>
<table class="table table-striped" > 
    <thead class="thead-light">
        <tr>
            <th scope="col"> Account id</th>
            <th scope="col"> Currency</th>
            <th scope="col"> Type of Account</th>
            <th scope="col"> Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> <%= @bankAccount.id%></th>
            <td> <%= @bankAccount.currency%></td>
            <td> <%= @bankAccount.type_of_account%></td>
            <td> <%= @bankAccount.amount%></td>
        </tr>
        </tbody>
</table>


<div class="transactions">

    <button><%= link_to "New transaction", new_transaction_path, class: "btn btn-primary" %></button>

    <button><%= link_to "Transaction History", transactions_path, class: "btn btn-primary"%></button>
    </button>

</div>




<div class="recenttransaction">
<h2>Recent transactions: </h2>
    <table class="table table-striped"> 
        <thead class="thead-light">
            <tr>
                <th scope="col"> No.</th>
                <th scope="col"> Date</th>
                <th scope="col"> Currency</th>
                <th scope="col"> Amount</th>
                <th scope="col"> Remitter</th>
                <th scope="col"> Remitter Account</th>
                <th scope="col"> Recipient</th>
                <th scope="col"> Recipient Account</th>
                <th scope="col"> Reference</th>
            </tr>
            <% @transactions.each do |transaction|%>
            <tr>
                <th scope="row"> <%= link_to  @transactions.find_index(transaction)+1,transaction_path(transaction.id)%></th>
                <td > <%= transaction.created_at%></td>
                <td > <%= transaction.currency%></td>
                <td > <%= transaction.amount%></td>
                <td > <%= transaction.remitter%></td>
                <td > <%= transaction.remitter_account%></td>
                <td > <%= transaction.recipient%></td>
                <td > <%= transaction.recipient_account%></td>
                <td > <%= transaction.reference%></td>
                <td > <%= link_to "Show transaction", transaction_path(transaction.id), class: "btn btn-primary"%></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
