<%= link_to("Back to bank account index page", admin_bank_accounts_path) %>
<h1>Are your sure to delete this bank account below from database?</h1>
<%= form_for(@bankAccount, :url=>admin_bank_account_path,:method => "delete") do |f|%>
  <%= f.label :"User id"%><br>
  <%= f.text_field :user_id, :readonly => true%><br>
  <%= f.label :"Type of account"%><br>
  <%= f.text_field :type_of_account, :readonly => true%><br>
  <%= f.label :"Currency "%> <br>
  <%= f.text_field :currency, :readonly => true%><br>
  <%= f.label :Amount%><br>
  <%= f.text_field :amount, :readonly => true%><br>
  <%= f.submit "Delete bank account" %>
<%end%>
<div style="height: 150px;margin: 20px;"></div>
