<%= link_to("Back to bank account index page", admin_bank_accounts_path)%>
<h1>Edit bank account</h1>
<%= form_for @bankAccount, :url=> admin_bank_account_path do |f|%>

<%= f.label :"Type of account" %><br>
<%= f.select :type_of_account,[
  "Normal",
  "Savings",
  "Student",
  "Child",
  "Current"
  ]%><br><br>

<%= f.label :Currency%><br>
<%= f.select :currency,[
  "USD",
  'EUR',
  'GBP',
  'JPY',
  'CHF',
  'CNY',
  'FRF',
  'DEM',
  'HKD',
  'INR',
  'KRW',
  'PKR',
  'SGD',
  'NZD'
  ]%><br><br>
  <%= f.label :Amount%><br>
  <%= f.text_field :amount%><br>
  <%= f.submit "Update bank account" %>
<%end%>
<div style="height: 100px;margin: 20px;"></div>
