<%= link_to("Back to list", admin_transactions_path, :class => 'back-link') %>

<h1>Delete Transactions</h1>

<%= form_for(@transaction, :url=> admin_transaction_path ,:method => 'delete') do |f| %>

<p>Are you sure you want to permentantly delete this transaction</p>
<%= label_tag "Remitter" %>
<p><%= @transaction.remitter %></p>
<%= label_tag "Recipient" %>
<p><%= @transaction.recipient %></p>
<%= label_tag "Amount" %>
<p><%= @transaction.amount %></p>
<%= label_tag "Reference" %>
<p><%= @transaction.reference %></p>

<div><%= f.submit("delete") %></div>
<%end%>
