<%= link_to("Back to list", admin_transactions_path, :class => 'back-link') %>

<h1>Delete Transactions</h1>

<%= form_for(@transaction, :method => 'delete') do |f| %>

<p>Are you sure you want to permentantly delete this transaction</p>
<p><%= @transaction.bank_account_id %></p>
<p><%= @transaction.recipient_name %></p>
<p><%= @transaction.amount %></p>

<div><%= f.submit("delete") %></div>
<%end%>
