<h1>All Transactions</h1>


<table class="table table-striped" >
  <thead class="table">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Remitter</th>
      <th scope="col">Remitter Account</th>
      <th scope="col">Recipient</th>
      <th scope="col">Recipient Account</th>
      <th scope="col">Amount</th>
      <th scope="col">Currency</th>
      <th scope="col">Transaction Reference</th>
    </tr>
    </thead>
    <tbody>

    <tr>

      <td scope="row"><%= @transaction.created_at%></td>
      <td ><%= @transaction.remitter%></td>
      <td ><%= @transaction.remitter_account%></td>
      <td ><%= @transaction.recipient%></td>
      <td ><%= @transaction.recipient_account%></td>
      <td ><%= @transaction.currency%></td>
      <td ><%= @transaction.amount%></td>
      <td ><%= @transaction.reference%></td>
      </tr>

     </tbody>
</table>
