<% provide(:title, "Delete user") %>
<%= link_to "Back to users index page", admin_users_path, class: "btn btn-primary" %>
<h1>Are your sure to delete this user below from database?</h1>
<%= form_for(@user, :url => admin_user_path, :method => "delete") do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :readonly => true %>
  </div>
  <div class="form-group">
    <%= f.label "first name" %> 
    <%= f.text_field :first_name, :readonly => true %>
  </div>
  <div class="form-group">
    <%= f.label "last name" %> 
    <%= f.text_field :last_name, :readonly => true %>
  </div>
  <div class="form-group">
    <%= f.label "gender" %> 
    <%= f.text_field :gender, :value => @gender, :readonly => true %> 
  </div>
  <div class="form-group">
    <%= f.label "date of birth" %>
    <%= f.text_field :date_of_birth, :readonly => true %> 
  </div>
  <div class="form-group">
    <%= f.label "phone number" %> 
    <%= f.text_field :phone_number, :readonly => true %>
  </div>
  <div class="form-group">
    <%= f.label :address %> 
    <%= f.text_field :address, :readonly => true %>
  </div>
  <%= f.submit "Delete user", class: "btn btn-outline-success" %>
<% end %>
