<h1>Show the user detail</h1>
<%= link_to("Back to users index page", admin_users_path)%>
<table summary="User List">
  <tr>
    <th class="p-2">#</th>
    <th class="p-2">Username</th>
    <th class="p-2">First Name</th>
    <th class="p-2">Last Name</th>
    <th class="p-2">Gender</th>
    <th class="p-2">Date of Birth</th>
    <th class="p-2">Phone Number</th>
    <th class="p-2">Address</th>
  </tr>
  <tr>
    <td class="p-2"><%= @user.id%></td>
    <td class="p-2"><%= @user.username%></td>
    <td class="p-2"><%= @user.first_name%></td>
    <td class="p-2"><%= @user.last_name%></td>
    <td class="p-2"><%= @gender[@user.gender]%></td>
    <td class="p-2"><%= @user.date_of_birth%></td>
    <td class="p-2"><%= @user.phone_number%></td>
    <td class="p-2"><%= @user.address%></td>
  </tr>
</table>

<h2>User bank accounts: </h2>

<table>
    <tr>
        <th class="p-2"> Account id</th>
        <th class="p-2"> Currency</th>
        <th class="p-2"> Type of Account</th>
        <th class="p-2"> Amount</th>
    </tr>
    <% @bankAccounts.each do |bankAccount| %>
    <tr>
        <td class="p-2"> <%= link_to bankAccount.account_id, admin_bank_account_path(bankAccount.account_id)%></td>
        <td class="p-2"> <%= bankAccount.currency%></td>
        <td class="p-2"> <%= bankAccount.type_of_account%></td>
        <td class="p-2"> <%= bankAccount.amount%></td>
    </tr>
    <%end%>
</table>
