<!--link to previous page-->
<h1>All Transactions</h1>
<%= link_to("Make a new transaction", new_transaction_path) %>
<table>
  <tr>
    <th>Recipient</th>
    <th>Amount</th>
    <th>Time</th>
    <th>Transaction Detail</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><%=transaction.recipient_name%></td>
    <td><%= transaction.currency + transaction.amount %>
    <td><%= transaction.time %></td>
    <td><%= link_to("view", transaction_path(transaction.id))%>
  </tr>
  <%end%>
</table>