<!DOCTYPE html>
<html>
  <head>
</head>


<div class="main">
<!--link to previous page-->
<h1>All Transactions</h1>
<button>
<%= link_to("BACK", bank_accounts_path) %>
</button>
<button>
<%= link_to("TRASFER", new_transaction_path) %>
</button>

<table class="table">
  <tr>
    <th class="p-2">Date</th>
    <th class="p-2">Remitter</th>
    <th class="p-2">Recipient</th>
    <th class="p-2">Amount</th>
    <th class="p-2">Currency</th>
    <th class="p-2">Transaction Reference</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td class="p-2"><%= transaction.created_at%></td>
    <td class="p-2"><%= transaction.remitter%></td>
    <td class="p-2"><%= transaction.recipient%></td>
    <td class="p-2"><%= transaction.currency%></td>
    <td class="p-2"><%= transaction.amount%></td>
    <td class="p-2"><%= transaction.reference%></td>
    <td class="p-2"><%= link_to "View", transaction_path(transaction.id), class: "btn btn-primary"%>
  </tr>
  <%end%>
</table>



</div>



<body>
</html>
