<!DOCTYPE html>
<html>
  <head>
</head>


<div class="main">
<!--link to previous page-->
<h1>All Transactions</h1>

<%= link_to "BACK", bank_accounts_path, class: "btn btn-primary" %>

<table class="table table-striped" >
  <thead class="table">
    <tr>
      <th scope="col">View</th>
      <th scope="col">Date</th>
      <th scope="col">Remitter</th>
      <th scope="col">Recipient</th>
      <th scope="col">Currency</th>
      <th scope="col">Amount</th>
      <th scope="col">Transaction Reference</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
    <td ><%= link_to @transactions.find_index(transaction) + 1, transaction_path(transaction.id) %></td>
      <th scope="row"><%= transaction.created_at %></th>
      <td ><%= transaction.remitter %></td>
      <td ><%= transaction.recipient %></td>
      <td ><%= transaction.currency %></td>
      <td ><%= transaction.amount %></td>
      <td ><%= transaction.reference %></td>
      </tr>
    <% end %>
     </tbody>
</table>



</div>



<body>
</html>
