<!DOCTYPE html>
<html>
  <head>
</head>


<div class="main">
<!--link to previous page-->
<h1>All Transactions</h1>
<button>
<%= link_to("BACK", bank_accounts_path) %>
</button>
<button>
<%= link_to("TRASFER", new_transaction_path) %>
</button>

<table class="table table-striped" >
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Remitter</th>
      <th scope="col">Recipient</th>
      <th scope="col">Amount</th>
      <th scope="col">Currency</th>
      <th scope="col">Transaction Reference</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <th scope="row"><%= transaction.created_at%></th>
      <td ><%= transaction.remitter%></td>
      <td ><%= transaction.recipient%></td>
      <td ><%= transaction.currency%></td>
      <td ><%= transaction.amount%></td>
      <td ><%= transaction.reference%></td>
      <td ><%= link_to "View", transaction_path(transaction.id), class: "btn btn-primary"%>
    </tr>
    <%end%>
     </tbody>
</table>



</div>



<body>
</html>
