<% provide(:title, "Transactions") %>

<div class="main">
<!--link to previous page-->
<h1>All Transactions</h1>

<%= link_to "BACK", bank_accounts_path, class: "btn btn-primary" %>

<div class="row" style="margin-top: 20px;">
<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Expenditure
</div>
<div class="card-body">
<%= pie_chart Transaction.where(remitter_account: @user.bank_accounts.map{|a| a.account_id}).group(:recipient_account).count %>
</div>
</div>
</div>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Income
</div>
<div class="card-body">
<%= pie_chart Transaction.where(recipient_account: @user.bank_accounts.map{|a| a.account_id}).group(:remitter_account).count %>
</div>
</div>
</div>
</div>

<table class="table table-striped" >
  <thead class="table">
    <tr>
      <th scope="col">View</th>
      <th scope="col">Date</th>
      <th scope="col">Remitter</th>
      <th scope="col">Recipient</th>
      <th scope="col">Currency</th>
      <th scope="col">Amount</th>
      <th scope="col">Transaction Reference</th>
    </tr>
    </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
    <td ><%= link_to @transactions.find_index(transaction) + 1, transaction_path(transaction.id) %></td>
      <th scope="row"><%= transaction.created_at %></th>
      <td ><%= transaction.remitter %></td>
      <td ><%= transaction.recipient %></td>
      <td ><%= transaction.currency %></td>
      <td ><%= transaction.amount %></td>
      <td ><%= transaction.reference %></td>
      </tr>
    <% end %>
     </tbody>
</table>
