<!DOCTYPE html>
<html>
  <head>
</head>


<div class="main">
<!--link to previous page-->
<h1>All Transactions</h1>
<button>
<%= link_to("BACK", bank_accounts_path) %>
</button>
<button>
<%= link_to("TRASFER", new_transaction_path) %>
</button>

<table class="table">
  <tr>
    <th>No.</th>
    <th>Date</th>
    <th>Recipient</th>
    <th>Currency</th>
    <th>Amount</th>
    <th>Transaction reference</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
  <td><%= link_to @transactions.find_index(transaction)+1, transaction_path(transaction.id), class: "btn btn-primary"%></td>
    <td><%= transaction.date%></td>
    <td><%= transaction.recipient_name%></td>
    <td><%= transaction.currency%></td>
    <td><%= transaction.amount%></td>
    <td><%= transaction.reference%></td>
  </tr>
  <%end%>
</table>



</div>



<body>
</html>
