<!DOCTYPE html>
<html>
  <head>
</head>
<body>
<% provide(:title, "Dashboard") %>


<div class="main">

<button>
<%= link_to  "BACK", transactions_path %>
</button>

<% provide(:title, "New transaction")%>
    <h1>New transaction</h1>


<div class="newTransfer">
<h4>Current account balance: </h4>
<h3><%= @bank %></h3>

<%= form_with scope: :transaction, url: transactions_path, local: true do |t|%>

<p><%= t.label :currency %>
<%= t.select :currency, [['$','USD'],['£','GBP'],['€','EUR']]%></p>

<p><%= t.label :amount %>
<%= t.text_field :amount %></p>

<p><%= t.label :recipient_name %>
<%= t.text_field :recipient_name %></p>

<p><%= t.label :recipient %>
    <%= t.text_field :recipient %></p>

    <p><%= t.label :reference %>
    <%= t.text_field :reference %></p>

  <p class="i"><%= t.submit "Make transaction" %> </p>
    <%end%>
    </div>

    </div>
<body>
</html>