<div class="main">

<button>
<%= link_to  "BACK", transactions_path %>
</button>

<% provide(:title, "New transaction")%>
    <h1>New transaction</h1>
    <p>Current account balance: </p>
    


  <%= form_with scope: :transaction, url: transactions_path, local: true do |t|%>
    
    <div class="newTransfer">
      <h4>Current account balance: </h4>
      <h3><%= @bank %></h3>
      <div class="form-group">
        <%= t.label :Currency %>
        <%= t.text_field :currency, :readonly=>true%>
      </div>
      
      <div class="form-group">
        <%= t.label :Amount %>
        <%= t.text_field :amount, {class: "form-control", placeholder: "Enter amount"} %>
      </div>
      
      <div class="form-group">
        <%= t.label "Recipient Name" %>
        <%= t.text_field :recipient, {class: "form-control", placeholder: "Enter recipient"} %>
      </div>
      
      <div class="form-group">
        <%= t.label "Recipient Account" %>
        <%= t.text_field :recipient_account, {class: "form-control", placeholder: "Enter recipient account"} %>
      </div>
      
      <div class="form-group">
        <%= t.label :Reference %>
        <%= t.text_field :reference , {class: "form-control", placeholder: "Enter reference"}%>
      </div>
      
      <%= t.submit "Make transaction", class: "btn btn-outline-success"%>
    </div>
  <%end%>
  

</div>
