<!DOCTYPE html>
<html>
  <head>
</head>
<body>
<% provide(:title, "Dashboard") %>




<div class="main">

<button>
<%= link_to  "BACK", transactions_path %>
</button>

<% provide(:title, "New transaction")%>
    <h1>New transaction</h1>
    <p>Current account balance: </p>
    


    <%= form_with scope: :transaction, url: transactions_path, local: true do |t|%>

    <div class="newTransfer">
    <h4>Current account: </h4>
    <h3><%= @bank %></h3>

    <%= t.label :Currency %>
    <%= t.text_field :currency, :readonly=>true%>
    <br/>
    <%= t.label :Amount %>
    <%= t.text_field :amount %>
    <br/>
    <%= t.label "Recipient Name" %>
    <%= t.text_field :recipient %>
    <br/>
    <%= t.label "Recipient Account" %>
    <%= t.text_field :recipient_account %>
    <br/>
    <%= t.label :Reference %>
    <%= t.text_field :reference %>
    <br/>
    <%= t.submit "Make transaction"%>
    <%end%>
    </div>

    </div>
<body>
</html>
