<% provide(:title, "New transaction")%>
    <h1>New transaction</h1>
    <p>Current account balance: </p>
<!-- For test --> 
<h1><%= @bank %></h1>
<!-- end--> 
    <%= form_with scope: :transaction, url: transactions_path, local: true do |t|%>

    <%= t.label :currency %>
    <%= t.text_field :currency %>
    <br/>
    <%= t.label :amount %>
    <%= t.text_field :amount %>
    <br/>
    <%= t.label :recipient_name %>
    <%= t.text_field :recipient_name %>
    <br/>
    <%= t.label :recipient %>
    <%= t.text_field :recipient %>
    <br/>
    <%= t.label :reference %>
    <%= t.text_field :reference %>
    <br/>
    <%= t.submit "Make transaction"%>
    <%end%>
    <!-- New from T9 -->
<%= link_to  "Abort this transaction", transactions_path %>
<h2>Make a direct transaction</h2>
<%= form_for(@transaction, :url => transactions_path, :method => 'post') do |f|%>
<table>
  <tr>
    <th>Currency</th>
    <td>
      <select id = "transaction_currency",name = "transaction[currency]">
        <option value = "$">$</option>
        <option value = "£">£</option>
      </select>
    </td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%= f.text_field(:amount) %></td>
  </tr>
  <tr>
    <th>Recipient</th>
    <td><%= f.text_field(:recipient_name) %></td>
  </tr>
  <tr>
    <th>Recipient's Account</th>
    <td><%= f.text_field(:recipient)%></td>
  </tr>
  <tr>
    <th>Reference</th>
    <td><%= f.text_field(:reference) %></td>
  </tr>
</table>
<div><%= f.submit("create") %></div>
<%end%>
