<%= link_to("Back to all", admintransaction_path, :class => 'back-link') %>

<h1>Details</h1>

<table summary="transaction details">
  <tr>
    <th>Date</th>
    <td><%= @admintransaction.created_at %></td>
  </tr>
  <tr>
    <th>Account Number</th>
    <td><%= @admintransaction.bank_account_id %></td>
  </tr>
  <tr>
    <th>Recipient</th>
    <td><%= @admintransaction.recipient_name %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%= @admintransaction.amount %></td>
  </tr>
  <tr>
    <th>Reference Number</th>
    <td><%= @admintransaction.reference %></td>
  </tr>
</table>
