<!DOCTYPE html>
<html>
<head>
</head>
<body>
<% provide(:title, "Dashboard") %>


<div class="main">

<table class="table">

   <tr>
    <th>No. ID</th>
       <th>Account ID</th>
       <th>Currency</th>
       <th>Account Type</th>
       <th>Balance</th>
   </tr>
   <% @bankAccounts.each do |acc|%>
   <tr>
        <td><%= link_to  @bankAccounts.find_index(acc)+1, bank_account_path(acc)%></td>
        <td><%= acc.id%></td>
        <td><%= acc.currency%></td>
        <td><%= acc.type_of_account%></td>
        <td><%= acc.amount%></td>
        </tr>


    <% end%>

</table>

<table class="table">
  <tr>
    <th class="p-2">Date</th>
    <th class="p-2">Remitter</th>
    <th class="p-2">Recipient</th>
    <th class="p-2">Amount</th>
    <th class="p-2">Currency</th>
    <th class="p-2">Transaction Reference</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td class="p-2"><%= transaction.created_at%></td>
    <td class="p-2"><%= transaction.remitter%></td>
    <td class="p-2"><%= transaction.recipient%></td>
    <td class="p-2"><%= transaction.currency%></td>
    <td class="p-2"><%= transaction.amount%></td>
    <td class="p-2"><%= transaction.reference%></td>
    <td class="p-2"><%= link_to "View", transaction_path(transaction.id), class: "btn btn-primary"%>
  </tr>
  <%end%>
</table>


</div>



<body>
</html>
