<% provide(:title, "Dashboard") %>


<div class="main">
<% @t =  Time.now.hour%>
<% @greeting = "" %>
<% if @t>=0 && @t<6%>
  <% @greeting = "Time to sleep, " %>
<% elsif @t>=6 && @t<12%>
  <% @greeting = "Good morning, " %>
<% elsif @t>=12 && @t<18%>
  <% @greeting = "Good afternoon, " %>
<% else %>
  <% @greeting = "Good evening, " %>
<% end %>
<h3><%= @greeting + (User.find(session[:user_id])).username.upcase %>!</h3>
<p>You last logged in in:</p><h3><%=@last_logged_in_location%></h3>
<h1 class="mb-3">Your Bank Accounts:</h1>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Group by Balance
</div>
<div class="card-body">
<%= pie_chart BankAccount.where(:user_id => @user.id).group(:account_id).sum(:amount) %>
</div>
</div>
</div>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Group by Currency
</div>
<div class="card-body">
<%= pie_chart BankAccount.where(:user_id => @user.id).group(:currency).count %>
</div>

</div>
</div>

<table class="table">
  <thead>
   <tr>
       <th>No. ID</th>
       <th>Account ID</th>
       <th>Currency</th>
       <th>Account Type</th>
       <th>Balance</th>
   </tr>
   </thead>
   <tbody>
   <% @bankAccounts.each do |acc|%>
   <tr>
        <td><%= link_to  @bankAccounts.find_index(acc)+1, bank_account_path(acc)%></td>
        <td><%= acc.id%></td>
        <td><%= acc.currency%></td>
        <td><%= acc.type_of_account%></td>
        <td><%= acc.amount%></td>
   </tr>


    <% end%>
  </tbody>
</table>

<h1 class="mb-3">Recent Transactions:</h1>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Expenditure
</div>
<div class="card-body">
<%= pie_chart Transaction.where(remitter_account: @user.bank_accounts.map{|a| a.account_id}).group(:recipient_account).count %>
</div>
</div>
</div>

<div class="col-sm-6">
<div class="card mb-4">
<div class="card-header">
<i class="fas fa-chart-area mr-1"></i>
Income
</div>
<div class="card-body">
<%= pie_chart Transaction.where(recipient_account: @user.bank_accounts.map{|a| a.account_id}).group(:remitter_account).count %>
</div>
</div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>No.</th>
    <th scope="col">Date</th>
    <th scope="col">Remitter</th>
    <th scope="col">Recipient</th>
    <th scope="col">Amount</th>
    <th scope="col">Currency</th>
    <th scope="col">Transaction Reference</th>
  </tr>
  </thead>
    <tbody>
  <% @transactions.each do |transaction| %>
  <tr>
  <td ><%= link_to @transactions.find_index(transaction)+1, transaction_path(transaction.id) %></td>
    <td scope="row"><%= transaction.created_at%></td>
    <td ><%= transaction.remitter%></td>
    <td ><%= transaction.recipient%></td>
    <td ><%= transaction.currency%></td>
    <td ><%= transaction.amount%></td>
    <td ><%= transaction.reference%></td>

  <%end%>
  </tbody>
</table>
