<html>
<head>
    <title> HTML website</title>
    </head>

    <body>
    <header>


   <%= stylesheet_link_tag "l_page.css" %>

          <div class="row">
              <div class="title">
              <p style="font-family: Times, sans-serif;text-align: center;font-size: 50px;float: left;margin-top: 5px;margin-left: 10px">YOURBANK </p>
              </div>
<br> <br> <br>
        <ul class="main-nav">

              <li><a >HOME</a></li>
                    <li><a><%= "YOUR ACCOUNTS"%></a></li>
                  <li><a><%="YOUR PROFILE" %></a></li>
                  <li><a><%="TRANSACTIONS" %></a></li>
                  <li><a><%="APPLY FOR LOAN"%></a></li>
                  <li><a><%="INVEST" %></a></li>
                  <li><a><%="CONTACT US" %></a></li>
              </ul>
              </div>
        <div>

          <br> <br>

          <div class="container">

             <label for="name">Name</label>
             <br> <br> <br>

             <label for="lname">Current Account</label>
             <input type="text" style="height:40px;padding:10px">

             <label for="lname">Savings Account</label>
             <input type="text" style="height:40px;padding:10px">

         </div>





        </div>

    </header>















    </body>
</html>
