<!DOCTYPE html>
<html>
   <head>
         <%= favicon_link_tag "favicon.ico" %>
    <title>

    <%= full_title(yield(:title)) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>


    <script>

 </script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:ital,wght@0,300;1,300&family=Padauk&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Padauk&display=swap" rel="stylesheet">



  </head>

  <body>
    <!-- Navigation bar for the top -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!-- If logged in redirect to profile when clicked if not redirect to welcome page -->
      <a class="navbar-brand float-left">
        <img src="<%= image_path("logo.PNG") %>" class="logo"  href="/">
      </a>
      <div class="collapse navbar-collapse ml-80" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto ">
      <!-- Temporary, for development, improve later-->
      <% @t =  Time.now.hour%>
      <% @greeting = "" %>
      <% if @t>=0 && @t<6%>
        <% @greeting = "Time to sleep, " %>
      <% elsif @t>=6 && @t<12%>
        <% @greeting = "Good morning, " %>
      <% elsif @t>=12 && @t<18%>
        <% @greeting = "Good afternoon, " %>
      <% else %>
        <% @greeting = "Good evening, " %>
      <% end %>
      <h3><%= @greeting + (Administrator.find(session[:administrator_id])).administratorname.upcase %>!</h3>

        <% if logged_in_as_administrator? %>
            <%= link_to "Back to website", "/admin/logout", method: :delete, class: "blacktext" %>
            <%= link_to "LOG OUT", "/admin/logout", method: :delete, class: "btn btn-primary" %>
        <% end %>
        </div>
    </nav>

    <div style="height: 96px;"></div>
    <!-- Notification and alert area -->
    <% flash.each do |type, msg| %>
      <% if type == "alert" %>
        <div class="row alert alert-danger alert-dismissible show" role="alert" style="margin-bottom: 0">
          <%msg.split(";").each do |m|%>
            <%= m %><br/>
          <% end %>
          <a href="#" data-dismiss="alert" class="close">×</a>
        </div>
      <% elsif type == "notice" %>
        <div class="row alert alert-success alert-dismissible show" role="alert" style="margin-bottom: 0">
          <strong><%= msg %></strong>
          <a href="#" data-dismiss="alert" class="close">×</a>
        </div>
      <% end %>
    <% end %>
<!-- Main content-->
    <div class="container-fluid pt-86">
      <div class="row">
        <!-- Sidebar -->
          <div class="col-sm-2 sidebar">
            <%= render "shared/admin_sidebar" %>
          </div>
          <div class="col-sm-10 ">
            <%= yield %>
          </div>
      </div>
      <%= render "shared/footer" %>
    </div>
<!-- END main content-->

<!-- footer -->



  </body>
</html>
