<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<script>
</script> 


<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Padauk&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Open+Sans:ital,wght@0,300;1,300&family=Padauk&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Padauk&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
 <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
<!-- Bootstrap icons/glyphhicons-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>



  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
  <!-- Navigation bar for the top -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-0">
  <!-- If logged in redirect to profile when clicked if not redirect to welcome page -->
    <a class="navbar-brand p-0" href="/">
    <img src="/assets/logo.PNG" class="logo"  href="/">
    </a>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto float-right">

      <% if logged_in? %>
        <%= link_to "My account", "/dashboard", class: "nav-item nav-link " %>
        <%= link_to "Profile", "/profile", class: "nav-item nav-link" %>
        <%= link_to "Help and support", "/pages/help_and_support", class: "nav-item nav-link" %>
        <%= link_to "LOG OUT", logout_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Home page", "/", class: "nav-item nav-link" %>
        <%= link_to "Invest", "/pages/invest", class: "nav-item nav-link" %>
        <%= link_to "Fees", "/pages/fees", class: "nav-item nav-link" %>
        <%= link_to "Open a bank account", "/pages/open_a_bank_account", class: "nav-item nav-link" %>
        <%= link_to "Contact us", "/pages/help_and_support", class: "nav-item nav-link" %>
        <%= link_to "LOG IN", login_path, class: "btn btn-primary nav-item" %>
      <% end %>

    </div>
  </nav>

  <!-- Main content-->
  <div class="container-fluid pt-85">
    <div class="row">
      <% if logged_in? %>
        <!-- Sidebar -->
        <div class="col-sm-2 sidebar">
          <%= render "shared/user_sidebar" %>
        </div>
        <div class="col-sm-10"> 
          <%= yield %>
        </div>
      <% else %>
        <div class="col-sm-12"> 
          <%= yield %>
        </div>
      <% end %>
    </div>
  </div>
<!-- END main content-->

    <footer class="container-fluid text-center">
      <div class="container text-center">
      <div class="row">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    </footer>


  </body>
</html>
