<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap icons/glyphhicons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
  <!-- Navigation bar for the top -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- If logged in redirect to profile when clicked if not redirect to welcome page -->
    <a class="navbar-brand" href="/">
      <img src="/assets/logo.PNG" class="logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto ">
      <% if logged_in? %>
        <%= link_to "My account", "/dashboard", class: "nav-item nav-link" %>
        <%= link_to "Profile", "/profile", class: "nav-item nav-link" %>
        <%= link_to "Help and support", "/help_and_support", class: "nav-item nav-link" %>
        <%= link_to "LOG OUT", logout_path, method: :delete, class: "btn btn-primary"%>
      <% else %>
        <%= link_to "Home page", "/", class: "nav-item nav-link" %>
        <%= link_to "Invest", "/pages/invest", class: "nav-item nav-link" %>
        <%= link_to "Fees", "/pages/fees", class: "nav-item nav-link" %>
        <%= link_to "Open a bank account", "/pages/contact_us", class: "nav-item nav-link" %>
        <%= link_to "Contact us", "/pages/contact_us", class: "nav-item nav-link" %>
        <%= link_to "LOG IN", login_path, class: "btn btn-primary nav-item"%>
      <% end %>
    </div>
  </nav>

  <!-- Main content-->
  <div class="container-fluid pt-85">
    <div class="row">
      <% if logged_in? %>
        <!-- Sidebar -->
        <div class="col-sm-2 sidebar">
          <%= render "shared/user_sidebar" %>
        </div>
        <div class="col-sm-10"> 
          <%= yield %>
        </div>
      <% else%>
        <div class="col-sm-12"> 
          <%= yield %>
        </div>
      <% end %>
    </div>
  </div>
<!-- END main content-->

    <footer class="container-fluid text-center">
      <div class="container text-center">
      <div class="row">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    </footer>


  </body>
</html>
