<!DOCTYPE html>
<html>
  <head>
   <%= favicon_link_tag %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Bootstrap icons/glyphhicons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Checks if there are any style changes, if so apply those -->
    <% if cookies[:style]%>
    <%= stylesheet_link_tag cookies[:style]%>
    <%end%>
  </head>



  <body>

  <!-- Navigation bar for the top -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!-- If logged in redirect to profile when clicked if not redirect to welcome page -->
    <a class="navbar-brand p-0" href="/">
    <img src="<%= image_path("logo.PNG") %>" class="logo"  href="/">
    </a>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto float-right">
      <% if logged_in? %>

        <%= link_to "My account", "/dashboard", class: "nav-item nav-link " %>
        <%= link_to "Profile", "/profile", class: "nav-item nav-link" %>
        <%= link_to "Help and support", "/pages/help_and_support", class: "nav-item nav-link" %>
        <%= link_to "LOG OUT", logout_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Home page", "/", class: "nav-item nav-link" %>
        <%= link_to "Invest", "/pages/invest", class: "nav-item nav-link" %>
        <%= link_to "Currency rates", "/pages/currency_rates", class: "nav-item nav-link" %>
        <%= link_to "Fees", "/pages/fees", class: "nav-item nav-link" %>
        <%= link_to "Open a bank account", "/pages/open_a_bank_account", class: "nav-item nav-link" %>
        <%= link_to "Contact us", "/pages/help_and_support", class: "nav-item nav-link" %>
        <%= link_to "LOG IN", login_path, class: "btn btn-primary nav-item" %>
      <% end %>

    </div>
  </nav>

  <!-- Notification and alert area -->
  <% flash.each do |type, msg| %>
    <% if type == "alert" %>
      <div class="row alert alert-danger alert-dismissible show" role="alert" style="margin-bottom: 0">
        <%msg.split(";").each do |m|%>
          <%= m %><br/>
        <% end %>
        <a href="#" data-dismiss="alert" class="close">×</a>
      </div>
    <% elsif type == "notice" %>
      <div class="row alert alert-success alert-dismissible show" role="alert" style="margin-bottom: 0">
        <strong><%= msg %></strong>
        <a href="#" data-dismiss="alert" class="close">×</a>
      </div>
    <% end %>
  <% end %>
  <!-- Main content-->
  <div class="container-fluid ">
    <div class="row">
      <% if logged_in? %>
        <!-- Sidebar -->
        <div class="col-sm-2 sidebar">
          <%= render "shared/user_sidebar" %>
        </div>
        <div class="col-sm-10">
          <%= yield %>
        </div>

      <% else %>
        <div class="col-sm-12">
          <%= yield %>
        </div>
      <% end %>

    </div>


  </div>
<!-- END main content-->
  <div class="col-sm-12">
    <!-- footer -->
    <%= render "shared/footer" %>
  </div>

 </body>

</html>
