<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Font awesome -->
    <!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->

    <%= stylesheet_link_tag 'sessions' %>
  </head>

  <body>
  <!-- Navigation bar for the top -->
  <div class="navigationbar">
  <header>
  <img class="logo" src="/assets/logo.PNG" >
    <nav >
      <div >
        <ul class="nav__links">

          <% if logged_in? %>
          <li class="links">
          <!-- When bank account page is created change link directory -->
            <%= link_to "MY ACCOUNT", "/dashboard" %>
          </li>
          <% end %>

          <% if logged_in? %>

          <% else %>
          <li class="links">
            <%= link_to "HOME PAGE", "/" %>
          </li >
          <% end %>


          <% if logged_in? %>
          <li class="links">
          <p>YOUR PROFILE</p>
        </li>
          <% else %>
          <li class="links">
            <%= link_to "INVEST", "/pages/invest" %>
          </li >
          <% end %>

          <% if logged_in? %>
          <li class="links">
          <p>HELP AND SUPPORT</p>
        </li>
          <% else %>
          <li class="links">
            <%= link_to "FEES", "/pages/fees" %>
          </li>
          <% end %>


          <li class="loginlink">
            <% if logged_in? || logged_in_as_administrator? %>
              <%= link_to "LOG OUT", logged_in? ? logout_path : admin_logout_path, method: :delete%>
            <% else %>
              <%= link_to "LOG IN", login_path%>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    </header>

    <% if logged_in? %>
    <div class="sidenav">
    <%= link_to "MY BANK ACCOUNT", bank_accounts_path, class: "btn btn-primary"%>
    <%= link_to "TRANSACTIONS", "/transactions" %>
    <%= link_to "FEES", "/pages/fees" %>
    <%= link_to "INVEST", "/pages/invest" %>
    </div>
    <% else %>

    <% end %>



    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>





  <footer class="row fixed-bottom">
    <!-- Helpful for debugging -->
    <div class="container text-center">
      <div class="row">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </footer>
















</html>
