<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Font awesome -->
    <!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
  </head>

  <body>
  <!-- Navigation bar for the top -->
    <nav class="navbar navbar-expand-sm bg-dark text-light">
      <div class="container navbar-collapse collapse ">
        <ul class="navbar-nav ml-auto">
          <% if logged_in? %>
          <li class="nav-item m-2">
            <%= link_to "Home page", "/dashboard" %>
            <%= link_to "My bank account", bank_accounts_path %>
          </li>
          <% end %>
          <li class="nav-item m-2">
            <%= link_to "Welcome page", "/pages/welcomepage" %>
          </li>
          <li class="nav-item m-2">
            <%= link_to "Invest", "/pages/invest" %>
          </li>
          <li class="nav-item m-2">
            <%= link_to "Fees", "/pages/fees" %>
          </li>
          <li class="nav-item m-2">
            <% if logged_in? %>
              <%= link_to "Log out", logout_path, method: :delete%>
            <% else %>
              <%= link_to "Log in", login_path%>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container overflow-auto">
      <%= yield %>
    </div>
  </div>
  </div>
  </body>
  <footer class="row">
    <!-- Helpful for debugging -->
    <div class="container text-center">
        <%= debug(params) if Rails.env.development? %>
    </div>
  </footer>
</html>
